<p id="notice"><%= notice %></p>

<h1>Sizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.name %></td>
        <td><a class="text-info" href="/sizes/<%= size.id %>">Show</a></td>
        <td><a class="text-info" href="/sizes/edit/<%= size.id %>">Edit</a></td>
        <td><button hrif="http://127.0.0.1:3000/sizes/delete" class="btn btn-danger" onClick="excluir(<%= size.id %>)">Delete</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="text-info" href="/sizes/new">New</a>
