<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @size.name %>
</p>

<a  class="text-info" href="/sizes/edit/<%= @size.id %>">Edit</a></td> |
<a  class="text-info" href="/sizes/">Index</a></td>

