<table>
    <tr>
        <th>Product</th>
        <th>Color</th>
        <th>Size</th>        
        <th>Actions</th>
    </tr>
    <% @avaliables.each do |avaliable| %>
        <tr>
            <td><% p = Product.find(avaliable.product_id) %> <%= p.name %></td>
            <td><% c = Color.find(avaliable.color_id) %> <%= c.name %></td>
            <td><% s = Size.find(avaliable.size_id) %> <%= s.name %></td>
            <td>
                <button hrif="http://127.0.0.1:3000/avaliables/delete" class="btn btn-danger" onClick="excluir(<%= avaliable.id %>)">Delete</button>
            </td>            
        </tr>    
    <% end %>    
</table>
<hr />
<a class="text-info" href="/avaliables/new">New</a>
