<form action="/avaliables/create" method="post">
  <% if @errors.count > 0 %>
    <div id="error_explanation">
      <h2>
		<% while errors.nil? == false %>
		    <%= errors.mensagem %>
		<% end %>
      </h2>
  <% end %>

  <div class="field">
    Product
    <% if @products.count > 0 %>
        <select name="product_id">
			<% for product in @products do %>
				<option value="<%=product.id%>"><%=product.name%></option>
			<% end %>
		</select>		
    <% end %>
  </div>

  <div class="field">
    Color
    <% if @colors.count > 0 %>
        <select name="color_id">
			<% for color in @colors do %>
				<option value="<%=color.id%>"><%=color.name%></option>
			<% end %>
		</select>		
    <% end %>
  </div>

  <div class="field">
    Size
    <% if @sizes.count > 0 %>
        <select name="size_id">
			<% for size in @sizes do %>
				<option value="<%=size.id%>"><%=size.name%></option>
			<% end %>
		</select>		
    <% end %>
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-primary" value="Send" />
  </div>
</form>
