<p id="notice"><%= notice %></p>

<h1>Colors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><a class="text-info" href="/colors/<%= color.id %>">Show</a></td>
        <td><a class="text-info" href="/colors/edit/<%= color.id %>">Edit</a></td>
        <td><button hrif="http://127.0.0.1:3000/colors/delete" class="btn btn-danger" onClick="excluir(<%= color.id %>)">Delete</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="text-info" href="/colors/new">New</a>
