<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>

<a class="text-info" href="/colors/edit/<%= @color.id %>">Edit</a></td> |
<a class="text-info" href="/colors/">Index</a></td>
