<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><a class="text-info" href="/products/<%= product.id %>">Show</a></td>
        <td><a class="text-info" href="/products/edit/<%= product.id %>">Edit</a></td>
        <td><button hrif="http://127.0.0.1:3000/products/delete" class="btn btn-danger" onClick="excluir(<%= product.id %>)">Delete</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="text-info" href="/products/new">New</a>
