<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<a class="text-info" href="/products/edit/<%= @product.id %>">Edit</a></td> |
<a class="text-info" href="/products/">All</a></td>

